---

---

<header class="border-black border-4 flex flex-row justify-between">
	<a href="/" class="inline-block border-r-4 border-black p-4">Logo</a>
	<button class="border-l-4 border-black p-4">
		<i class="fa-solid fa-bars"></i>
		<span class="sr-only">Toggle Menu</span>
	</button>
</header>
